h1 {@extend .h1 !optional;}
h2 {@extend .h2 !optional;}
h3 {@extend .h3 !optional;}
h4 {@extend .h4 !optional;}
h5 {@extend .h5 !optional;}
h6 {@extend .h6 !optional;}
	
	small, .font_small { font-size: ms(0); }
	body{ font-size: ms(1); }	
  	.h6{ font-size: ms(2); }
  	.h5{ font-size: ms(3); }
  	.h4{ font-size: ms(4); }
  	.h3{ font-size: ms(5); }
  	.h2{ font-size: ms(6); }
  	.h1{ font-size: ms(7); }

@function font-boost($boost) {
  @return $boost * $base-font-size;
}

html { 
	font-size: font-boost(0.85);
	@include breakpoint( $mobile ){font-size: font-boost(0.9);} 
	@include breakpoint( $mobile-horizontal ){font-size: font-boost(0.95);} 
	@include breakpoint( $tablet ){font-size: font-boost(1);}
	@include breakpoint( $tablet-horizontal ){font-size: font-boost(1.05);}
	@include breakpoint( $desktop ){font-size: font-boost(1.08);} 
	@include breakpoint( $desktop-wide ){font-size: font-boost(1.1);}
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	@include clearfix;
}