$white: rgba(255,255,255,1);


/* Assign values to color names */

	/* Shades */
	
	$color_black: 				rgba(0,0,0,.8);
	$color_white: 				rgba(255,255,255,1);

	$color_white-bright: 	#fff;

	$color_grey: 				darken($color_white, 50%);
	$color_grey-light: 		darken($color_white, 10%);


	/* BBWondrousWovenMagic */

	/* http://www.colourlovers.com/palette/3532789/BBWondrousWovenMagic */

	$color_cape-palliser:				#A66E42; 	// palette-1
	$color_leather:						#916453; 	// palette-2
	$color_falcon:						#755669; 	// palette-3
	$color_victoria-1:					#59497F; 	// palette-4
	$color_victoria-2:					#433F90; 	// palette-5

/* Link color names to descriptive names 
	Use these values outside of this stylesheet!
*/

	$color_text:							$color_black; 
	$color_text-cta:						$color_white; 
	$color_text-cta-2:					$color_grey; 


	
	$color_text-selection: 				$color_victoria-2;
	// $color_background-cta:				$color_red-psj;
	//$color_background-cta-2:			$color_white;

	
	$color_black: 				#333;		/* example */
	$color_white: 				rgba(255,255,255,1);	
	$color_white-bright: 	#fff;
	$color_grey-dark: 		darken($color_white, 80%);
	$color_grey: 				darken($color_white, 50%);
	$color_grey-light: 		darken($color_white, 10%);
	
	/* Colors */
	
	$color_red: 				red; 			/* example */
	$color_yellow: 			yellow; 			/* example */	
	$color_blue: 				rgba(0, 178, 255, 0.98);
	$color_blue-green: 		darken( $color_blue, 40% );

	$color_orange:	 			#A48445; 	
	$color_green:	 			green; 		/* example */

/* Link color names to descriptive names 
	Use these values outside of this stylesheet!
*/

	$color_text:							$color_black; 
	$color_text-cta:						$color_white; 
	$color_text-cta-2:					$color_grey; 
	$color_text-header:					$color_black; 
	$color_text-footer:					$color_grey; 

	// Links
	$color_text-anchor:					$color_black; 
	$color_text-anchor-visited:		$color_black; 
	$color_text-anchor-hover:			$color_black; 
	$color_text-anchor-active:			$color_black; 
	
	// Text Selection
	$color_text-selection: 				$color_orange;
	
	$color_background:					$color_white;
	$color_background-cta:				$color_red;
	$color_background-cta-2:			$color_white;
	$color_background-nav:				$color_white;
	
	/* Pre-header */
	$color-text-pre-header:				$color_white;	
	$color-background-pre-header:		$color_grey;
	
	// Header
	$color_background-header:			$color_white;

	/* Hero */
	$color_background-hero:				$color_grey-light;
	$color_text-hero:						$color_black;
	
	// h1, h2, h3, etc.
	$color_heading-1-hero:				$color_white;
	$color_heading-2-hero:				$color_white;
	$color_heading-3-hero:				$color_white;
	$color_heading-4-hero:				$color_white;
	$color_heading-5-hero:				$color_white;
	$color_heading-6-hero:				$color_white;
	
		
	
	$color_background-footer:			$color_white;
	
	$color_border: 						$color_black;

	// Buttons
	$color_text-button:					$color_grey;
	$color_background-button:			$color_grey-light;
		$color_text-button-hover:					$color_white;
		$color_background-button-hover:			$color_grey-dark;
		$color_text-button-active:					$color_white;
		$color_background-button-active:			darken( $color_grey-dark, 20%);
