.button {
	padding: $input-padding;
	@include border-radius( $input-border-radius );
	display: inline-block;
	text-align: center;
	&:link, &:visited {
		color: $color_button;	
		background: $color_background-button;
		text-decoration: none;
		border-bottom: none;
	}		
	&:hover {
		color: $color_button-hover;	
		background: $color_background-button-hover;
		text-decoration: none;
		border-bottom: none;
	}
	&:active {
		color: $color_button-active;	
		background: $color_background-button-active;
		text-decoration: none;
		border-bottom: none;	
	}
	&.cta {

	}
}