/* ==========================================================================
   Footer
   ========================================================================== */
.site-footer {
	text-align: center;
	background: $color_background-section-footer;
	color: $color_section-footer;
	.site-info {
		margin-bottom: 1em;
		@extend .font_small !optional;
		@include breakpoint( $tablet ){	
			float: left;
			width: 50%;
			text-align: left;
		}
	}

	
}

#footer-widgets {
	aside {
		padding: 1%;
	}
}

#back-to-top {
	@include breakpoint( $tablet ){	
		position: absolute;
		right: 0;
		top: 0;
	}
}

#copyright {
	margin-bottom: 10px;
}

#signup {
	
	h2 {
		margin-top: .5em;
		i {
			&.fa-envelope {
				display: block;
				@include breakpoint( $tablet ) {
					display: inline-block;
				}
			}
		}
	}
}

#contact {
}

/* Visit */

#visit {
	background: url("assets/images/map1.png") no-repeat;
	background-position: center center;
	background-size: cover;
}
