// Header

#pre-header {
	display: none;
	position: fixed;
	top: 0;
	padding-top: 10px;
	padding-bottom: 10px;

	.container {
		max-width: 100%;
	}
}

.site-header {	
  	width: 100%;
	margin-top: 0;

	@include breakpoint( $tablet ){

	}

	&:fixed {
		right: 0;
		left: 0;
		top: 0;	
		z-index: 100;
		position: fixed;
	}

	.section {
		// Less top/bottom padding on the header .section, 
		// but keep the side padding.
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.container {

		// max-width: 100%;
	}
	a {
		border-bottom: none;
		&.toggle {

		}
	}
}



.site-branding {
	width: 100%;
	@include clearfix;
	@extend .section;
	padding: 5px 5%;
	.site-title {
		display: block;
		height: auto;
		margin: 0 auto;
		text-align: center;
		// padding-top: 5px;


		img, #logo {
			max-width: 100%;
			&.desktop-logo {
				display: none;
				@include breakpoint( $tablet ){
					display: block;
				} 
			}
			&.mobile-logo {
				@include breakpoint( $tablet ){
					display: none;
				} 
			}
		}
	}
	@include breakpoint( $tablet ){
		position: absolute; 
		left: 0;
		top: 0;
		padding: 0;
		width: auto;
		.site-title {
			float: none;
			img {
				max-width: 100%;
			}
		}
	} 

}

#main-nav-wrapper {
	@include breakpoint( $tablet ) {
	
		width: 100%;
	}
}

.main-navigation {
	ul {
		padding: 0;

	}
}


#pre-header-search {
	@include breakpoint($tablet){
		display: none;
	}
}

#nav-bar-search  {

	@include breakpoint($tablet){
		display: block;
		float: right;

		form {
			padding: 0;
			color: $color-text-pre-header;


			label {
				padding: 0;
			}



			input[type="search"] {
				margin: 0;
			}
		}
	}
}

/* Hidden Search in Nav */

#nav-bar-search {
	@include breakpoint( $tablet ){
  		z-index: 1;
  		padding: 10px;
	}

	input[type="search"] {
		display: block;

	}

	input[type=submit] {
		display: none;
	}

} 

.js #nav-bar-search {
	@include breakpoint( $tablet ){
		display: none;
  		position: absolute;
  		right: 1.5em;
  		top: 0;
  		z-index: 1;
  		padding: 0;
 		@include transition(all, 0.3s, ease-in-out);
	}


	input[type=submit] {
		display: none;
	}

} 

.js-search-active #nav-bar-search {
  display: block;
  @include transition(all, 0.3s, ease-in-out); 
} 

.site-header {

	@include transition(all, 0.3s, ease-in-out);
	&.section {
	}
	h1 {
		margin: 0;
	}
}

.js-nav-active .site-header {
 	@include transition(all, 0.3s, ease-in-out); 	
}

.js-search-active .site-header {
 	@include transition(all, 0.3s, ease-in-out); 	
}


