#hero {
	h1 {
		color: #fff;
		margin-top: 1em;
	}
	
	background: url("../../images/hero-bg.jpg") no-repeat transparent;
	background-position: center center;
	// background-color: $color_background-hero;
	background-size: cover;
	@include add-grid(24 at 480px);
	@include add-gutter(1/3);
	@include breakpoint( $tablet ){

	} 
	.container {
		background: transparent;
		@include breakpoint($tablet) {
			// background: url('assets/images/hero-background.jpg') no-repeat bottom right;
		}
	}



	.hero-image {
		display: none;
		margin: 0 auto;
		padding: 0;
		@include breakpoint( $tablet ) {
			display: block;
				// position: absolute;
				// top: -140px;
			//	right: -608px;
			width: 30%;
		}

	}
	.hero-text {

		padding-top: 1em;
		@include breakpoint( $tablet ) {
			width: 50%;
			margin: 0 auto;
			
		}

	}

	a {
		border-bottom: none;
	}
}

// Modifications to the basic hero module for the home page

.home .hero {

	// Headers & typography



	.hero-cta {
				a {
					padding: 1em; // Extra pad for bigness!
				}
		@include clearfix;
		@include breakpoint($mobile-horizontal){
			margin-bottom: 1em;
		}
		@include breakpoint($tablet){
			margin-bottom: 2em;
		}

	}
	#lead {
		@include breakpoint($tablet){
			margin-bottom: 2em;
		}
	}
}



