.media-object-container {
	
	// Set up the grid
	@include add-grid(24);

	// Standard stacked layout
	.media-object {
		padding: 1rem;
		margin-bottom: 1rem;
		background: #fff;
		header {
			@extend .h4;
		}
		.media-object-media {	
			img {
				width: 100%;
			}
		}
		.media-object-content {
		}
	}

	// Change content layout to side-by-side
	@include breakpoint( $mobile-horizontal ) {		
		.media-object {

			// Float media to left
			@include clearfix;
			.media-object-media {
				font-size: ms(0);
				width: 30%;
				float: left;
				padding-right: 10px;
				.fa-stack {
					display: block;
					text-align: left;
				}
			}
			.media-object-content {
				width: 70%;
				float: left;
				text-align: left;
			}
		}
	}

	// Change layout to 3 columns
	@include breakpoint( $tablet-horizontal ) {
		@include add-grid(24);
		.media-object {
			&:nth-of-type(3n+1) {
				@include grid-span(8, 1);
			}
			&:nth-of-type(3n+2) {
				@include grid-span(8, 9);
			}
			&:nth-of-type(3n+3) {
				@include grid-span(8, 17);
			}

			// Restore stacked content layout
			.media-object-media {
				width: 100%;
				float: none;
				padding-right: 0;
				.fa-stack {
					display: inline-block;
					text-align: center;
				}
			}
			.media-object-content {
				width: 100%;
				float: none;
				text-align: center;
			}
		}
	}
}
